
.container {
  margin: 20px auto;
  text-align: right;
  width: 960px;
}

.tab {
  border-radius: 3px;
  color: #444;
  cursor: pointer;
  margin-left: 5px;
  padding: 5px 8px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background-color: #eec;
  }
  &:global(.active) {
    background-color: #fff;
    color: #bb6;
    cursor: default;
  }
}
